*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 18px;
  font-family: "Inter", sans-serif;
}
#root {
  overflow-x: hidden;
  overflow-y: hidden;
}
.img__container {
  display: flex;
  justify-content: center;
}
.header__logo {
  height: 80px;
  width: 83px;
}
.home__joumbotron {
  height: 100%;
  width: 100%;
  padding: 2em;
  display: flex;
  justify-content: space-between;
}
.navbar__main {
  display: flex;
  justify-content: space-around;

  margin: 0 auto;
  height: 100%;
  width: 100%;
  align-items: center;
}
.header__button {
  text-decoration: none;
  color: black;
  align-items: center;
  margin-left: 1em;
  margin-right: 1em;
}
.header__buttons {
  text-decoration: none;
  color: black;
  align-items: center;
  margin-left: 1em;
  margin-right: 1em;
}
.header__button__contact{
  text-decoration: none;
  color: white;
  background-color: #884AFF;
  padding: 8px;
  padding-left:11px;
  width: 125px;

  padding-right: 11px;
  align-items: center;
  margin-left: 1em;
  margin-right: 1em;
  border-radius: 5px;
}
.header__button:hover {
  color: #884AFF;
  transition: all 0.3s ease-in-out;
}
.ibt__content__nav {
  display: none;
}
@media (max-width: 1510px) {
  .ibt__content__nav {
    display: flex;
    background-color: #884AFF;
    border: 1px solid transparent;
    align-items: center;
    margin: 0;
    height: 35px;
    border-radius: 5px;
    
  }
  .home__joumbotron {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .img__container {
    display: unset;
    align-items: center;
  }

  .navbar__main {
    top: 6em;
    right: 0;
    padding: 1em;
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: fit-content;
    width: 20%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    margin-right: 20px;
  }
  .header__button {
    margin-bottom: 1em;
    color: white;
  }
  .header__buttons {
    margin-bottom: 1em;
  }
  .header__buttons svg {
    color: white;
  }
}
.nav__left__content{
 font-size: 70px;
 font-weight: bolder;
}
.span__class{
  color: #884AFF;
}
.nav__main__both__sides{
  padding: 2em;
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.navbar__content__main__left{
  height: 50;
  width: 50%;
}

.navbar__content__main__right__img{
  height: 450px;
  width: 450px;
}
.nav__left__sub__content{
  margin-top: 3em;
  font-size: 18px;
}
.nav__left__button{
  margin-top: 3em;
}
.nav__content__button{
  background-color: #884AFF;
  color: white;
  border: none;
  border-radius: 5px;
  padding: .5em;
  width: 200px;
  font-size: 20px;
}
.nav__content__button:hover{
  cursor: pointer;
}